[Unit]
Description=Monitoring service for process "test"
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monitoring.sh
Restart=always

[Install]
WantedBy=multi-user.target